# Virtual Environments
.venv/
venv/
ENV/
env/

# Python cache & build outputs
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
*.swp
